# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.guess
config.h.in
config.h.in~
config.sub
config.log
config.status
configure
configure.scan
depcomp
install-sh
missing
stamp-h1
libtool
/config.h
/ext/libdc1394/config.h
/ext/libdc1394/m4
/ext/libhidapi/m4
/ext/libusb/m4
/m4
/ext/libusb/config.h

# https://www.gnu.org/software/libtool/

/ltmain.sh

# Prerequisites
*.d

# Compiled Object files

*.slo
*.lo
*.o

# Compiled Static libraries

*.lai
*.la

# Executables

*.out
*.app
*.dmg

# Cmake stuff

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Qt temporary files and build targets
*.moc
moc_*.cpp
moc_*.cc
moc_*.h
qrc_*.cpp
qrc_*.cc
ui_*.h
*.qm

# Other files created at build time
.deps
.libs
*.pc
/ext/libusb/doc/doxygen.cfg
/ext/libusb/examples/dpfp
/ext/libusb/examples/dpfp_threaded
/ext/libusb/examples/fxload
/ext/libusb/examples/hotplugtest
/ext/libusb/examples/listdevs
/ext/libusb/examples/sam3u_benchmark
/ext/libusb/examples/testlibusb
/ext/libusb/examples/xusb
/ext/libusb/libusb/os/.dirstamp
/ext/libASICamera/libASICamera.a
/ext/libASICamera/libASICamera2.a
/ext/ffmpeg/.config
/ext/ffmpeg/.version
/ext/ffmpeg/config.asm
/ext/ffmpeg/config.fate
/ext/ffmpeg/config.h
/ext/ffmpeg/config.mak
/ext/ffmpeg/doc/config.texi
/ext/ffmpeg/doc/examples/pc-uninstalled/
/ext/ffmpeg/libavcodec/libavcodec.a
/ext/ffmpeg/libavdevice/libavdevice.a
/ext/ffmpeg/libavfilter/libavfilter.a
/ext/ffmpeg/libavformat/libavformat.a
/ext/ffmpeg/libavutil/avconfig.h
/ext/ffmpeg/libavutil/ffversion.h
/ext/ffmpeg/libavutil/libavutil.a
/ext/ffmpeg/libswresample/libswresample.a
/ext/ffmpeg/libswscale/libswscale.a
/liboavideo/test_oaconvert
/liboavideo/test_oaconvert.txt
/oacapture/oacapture
/oalive/oalive
