# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.guess
config.h.in
config.h.in~
config.sub
config.log
config.status
configure
configure.scan
depcomp
install-sh
missing
stamp-h1
libtool
/config.h
/ext/libdc1394/config.h
/ext/libdc1394/m4
/ext/libhidapi/m4
/ext/libusb/m4
/m4
/ext/libusb/config.h

# https://www.gnu.org/software/libtool/

/ltmain.sh

# Prerequisites
*.d

# Compiled Object files

*.slo
*.lo
*.o

# Compiled Static libraries

*.lai
*.la

# Executables

*.out
*.app
*.dmg

# Editor temp files

.*.swp

# Cmake stuff

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Qt temporary files and build targets
*.moc
moc_*.cpp
moc_*.cc
moc_*.h
qrc_*.cpp
qrc_*.cc
ui_*.h
*.qm

# Other files created at build time
.deps
.libs
*.pc
/ext/libusb/doc/doxygen.cfg
/ext/libusb/examples/dpfp
/ext/libusb/examples/dpfp_threaded
/ext/libusb/examples/fxload
/ext/libusb/examples/hotplugtest
/ext/libusb/examples/listdevs
/ext/libusb/examples/sam3u_benchmark
/ext/libusb/examples/testlibusb
/ext/libusb/examples/xusb
/ext/libusb/libusb/os/.dirstamp
/ext/libASICamera/libASICamera.a
/ext/libASICamera/libASICamera2.a
/ext/libEFWFilter/libEFWFilter.a
/ext/ffmpeg/.config
/ext/ffmpeg/.version
/ext/ffmpeg/config.asm
/ext/ffmpeg/config.fate
/ext/ffmpeg/config.h
/ext/ffmpeg/config.mak
/ext/ffmpeg/doc/config.texi
/ext/ffmpeg/doc/examples/pc-uninstalled/
/ext/ffmpeg/libavcodec/libavcodec.a
/ext/ffmpeg/libavdevice/libavdevice.a
/ext/ffmpeg/libavfilter/libavfilter.a
/ext/ffmpeg/libavformat/libavformat.a
/ext/ffmpeg/libavutil/avconfig.h
/ext/ffmpeg/libavutil/ffversion.h
/ext/ffmpeg/libavutil/libavutil.a
/ext/ffmpeg/libswresample/libswresample.a
/ext/ffmpeg/libswscale/libswscale.a
/oacapture/oacapture
/oalive/oalive
/bin/build-oacapture-dmg.sh
/bin/build-oalive-dmg.sh
/oacapture/version.h
/oalive/version.h
/packagers/deb/build.sh
/packagers/deb/clean.sh
/packagers/deb/debfiles/changelog
/packagers/rpm/oacapture.spec
/oacapture/qt-icons
/oalive/qt-icons
/oacapture/icons/oacapture.svg
/oacapture/icons/oacapture.xpm
/oacapture/icons/oacapture16.png
/oacapture/icons/oacapture24.png
/oacapture/icons/oacapture256.png
/oacapture/icons/oacapture32.png
/oacapture/icons/oacapture48.png
/oalive/icons/oalive.svg
/oalive/icons/oalive.xpm
/oalive/icons/oalive16.png
/oalive/icons/oalive24.png
/oalive/icons/oalive256.png
/oalive/icons/oalive32.png
/oalive/icons/oalive48.png
/oalive/icons/oalive640.png
/osx/oaCapture.iconset/icon_128x128.png
/osx/oaCapture.iconset/icon_128x128@2x.png
/osx/oaCapture.iconset/icon_16x16.png
/osx/oaCapture.iconset/icon_16x16@2x.png
/osx/oaCapture.iconset/icon_256x256.png
/osx/oaCapture.iconset/icon_256x256@2x.png
/osx/oaCapture.iconset/icon_32x32.png
/osx/oaCapture.iconset/icon_32x32@2x.png
/osx/oaCapture.iconset/icon_512x512.png
/osx/oaCapture.iconset/icon_512x512@2x.png
/osx/oalive.iconset/icon_128x128.png
/osx/oalive.iconset/icon_128x128@2x.png
/osx/oalive.iconset/icon_16x16.png
/osx/oalive.iconset/icon_16x16@2x.png
/osx/oalive.iconset/icon_256x256.png
/osx/oalive.iconset/icon_256x256@2x.png
/osx/oalive.iconset/icon_32x32.png
/osx/oalive.iconset/icon_32x32@2x.png
/osx/oalive.iconset/icon_512x512.png
/osx/oalive.iconset/icon_512x512@2x.png
/osx/oacapture.plist
/osx/oalive.plist
