[Desktop Entry]
Version=1.0
Type=Application
Name=Oalive
Name[en_GB]=Oalive
GenericName=EAA imaging application
GenericName[en_GB]=EAA imaging application
Exec=oalive
Icon=oalive
StartupNotify=false
Terminal=false
Categories=Astronomy;Education;Science;
Comment=EAA Imaging Application
Comment[en_GB]=EAA Imaging Application
Keywords=astronomy;
