[Desktop Entry]
Version=1.0
Type=Application
Name=Oalive
Name[en_GB]=Oalive
GenericName=EEA imaging application
GenericName[en_GB]=EEA imaging application
Exec=oalive
Icon=oalive
StartupNotify=false
Terminal=false
Categories=Astronomy;Education;Science;
Comment=EEA Imaging Application
Comment[en_GB]=EEA Imaging Application
Keywords=astronomy;
