Source: oacapture
Section: science
Priority: optional
Maintainer: James Fidell <james@openastroproject.org>
Build-Depends: debhelper (>=@@COMPAT@@), libusb-1.0-0-dev, pkg-config, libasicamera-dev, libudev-dev, libcfitsio-dev, libpng-dev, libtiff-dev, libv4l-dev, libqt4-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, libhidapi-dev, libftdi1-dev, liblzma-dev, libsdl1.2-dev, autotools-dev, autoconf-archive, qt4-dev-tools, libefwfilter-dev, libraw-dev, libtool, libgphoto2-dev
Standards-Version: 3.9.7
Homepage: http://www.openastroproject.org/

Package: oacapture
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, libasicamera, libefwfilter
Description: planetary capture application
 An application and associated tools for controlling cameras for planetary
 capture and related astronomy imaging

# Package: oacapture-dev
# Section: libdevel
# Architecture: any
# Depends: libuvc (= ${binary:Version}), ${misc:Depends}
# Description: oacapture libraries and header files
#  Libraries and header files from oacapture for use in third party
#  applications
