#
# 70-asi-cameras.rules -- Udev rules for ZWO ASI cameras
#
# Copyright 2013,2014,2015,2016,2018,2019
#   James Fidell (james@openastroproject.org)
#
# License:
#
# This file is part of the Open Astro Project.
#
# The Open Astro Project is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The Open Astro Project is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with the Open Astro Project.  If not, see
# <http://www.gnu.org/licenses/>.
#

# Set new minimum value for usbfs memory
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="03c3", RUN+="/bin/sh -c 'test -f /sys/module/usbcore/parameters/usbfs_memory_mb && test `cat /sys/module/usbcore/parameters/usbfs_memory_mb` -lt 200 && echo 200 >/sys/module/usbcore/parameters/usbfs_memory_mb'"

# ASI030MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="030a", TAG+="uaccess"
# ASI031MC & ASI031MM
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="031a", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="031b", TAG+="uaccess"
# ASI034MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="034b", TAG+="uaccess"
# ASI035MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="035a", TAG+="uaccess"
# ASI035MM
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="035b", TAG+="uaccess"
# ASI071MC Cool & ASI071MC Pro
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="071a", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="071b", TAG+="uaccess"
# ASI094MC Cool & ASI094MC Pro
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="094a", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="094b", TAG+="uaccess"
# ASI120MM
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="120a", TAG+="uaccess"
# ASI120MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="120b", TAG+="uaccess"
# ASI120MM Mini?
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="120c", TAG+="uaccess"
# ASI120MM-S
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="120d", TAG+="uaccess"
# ASI120MC-S
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="120e", TAG+="uaccess"
# ASI128MC Cool & Pro
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="128a", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="128f", TAG+="uaccess"
# ASI130MM
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="130a", TAG+="uaccess"
# ASI136MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="136a", TAG+="uaccess"
# ASI174MM Mini?
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="1749", TAG+="uaccess"
# ASI174MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="174a", TAG+="uaccess"
# ASI174MM
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="174b", TAG+="uaccess"
# ASI174MC-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="174c", TAG+="uaccess"
# ASI174MM-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="174d", TAG+="uaccess"
# ASI178MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="178a", TAG+="uaccess"
# ASI178MC-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="178b", TAG+="uaccess"
# ASI178MM
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="178c", TAG+="uaccess"
# ASI178MM-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="178d", TAG+="uaccess"
# ASI178 MC Pro & MM Pro
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="178d", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="178d", TAG+="uaccess"
# ASI183 models (MC, MM, MC Pro, MM Pro, MC Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="183a", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="183b", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="183d", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="183e", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="183f", TAG+="uaccess"
# ASI185MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="185a", TAG+="uaccess"
# ASI185MC-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="185b", TAG+="uaccess"
# ASI224MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="224a", TAG+="uaccess"
# ASI224MC-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="224b", TAG+="uaccess"
# ASI226MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="226a", TAG+="uaccess"
# ASI252MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="252a", TAG+="uaccess"
# ASI252MM
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="252b", TAG+="uaccess"
# ASI290MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="290a", TAG+="uaccess"
# ASI290MM
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="290b", TAG+="uaccess"
# ASI290MC-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="290c", TAG+="uaccess"
# ASI290MM-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="290d", TAG+="uaccess"
# ASI290MM Mini
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="290f", TAG+="uaccess"
# ASI294MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="294b", TAG+="uaccess"
# ASI294MC Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="294c", TAG+="uaccess"
# ASI294MC Pro
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="29fc", TAG+="uaccess"
# ASI385MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="385b", TAG+="uaccess"
# ASI385MC Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="385d", TAG+="uaccess"
# ASI1600MC
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="1600", TAG+="uaccess"
# ASI1600MC-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="1601", TAG+="uaccess"
# ASI1600MM
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="1602", TAG+="uaccess"
# ASI1600MM-Cool
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="1603", TAG+="uaccess"
# ASI1600MM Pro
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="1604", TAG+="uaccess"
# ASI1600MC Pro?
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="1605", TAG+="uaccess"
# ASI1600GT?
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="1606", TAG+="uaccess"
# ASI2400MM Pro
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="2404", TAG+="uaccess"
# ASI2400MC Pro?
SUBSYSTEM=="usb", ATTR{idVendor}=="03c3", ATTR{idProduct}=="2405", TAG+="uaccess"
