#
# 70-celestron-camera.rules -- Udev rules for TIS CCD cameras
#
# Copyright 2014,2015,2019 James Fidell (james@openastroproject.org)
#
# License:
#
# This file is part of the Open Astro Project.
#
# The Open Astro Project is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The Open Astro Project is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with the Open Astro Project.  If not, see
# <http://www.gnu.org/licenses/>.
#

ACTION!="add", GOTO="celestron_end"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", GOTO="celestron_test"
SUBSYSTEM!="usb_device", GOTO="celestron_end"

LABEL="celestron_test"

# Neximage 5 ?
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8207", \
  TAG+="uaccess"

# Neximage 5 ?
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8307", \
  TAG+="uaccess"

# Neximage Burst M and Neximage Burst C
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8208", \
  TAG+="uaccess"

# Neximage 10
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8619", \
  TAG+="uaccess"

# Skyris ???
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8441", \
  TAG+="uaccess"

# Skyris ???
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8442", \
  TAG+="uaccess"

# Skyris 274M
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8443", \
  TAG+="uaccess"

# Skyris ???
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8448", \
  TAG+="uaccess"

# Skyris ???
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8451", \
  TAG+="uaccess"

# Skyris ???
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8452", \
  TAG+="uaccess"

# Skyris ???
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8453", \
  TAG+="uaccess"

# Skyris 132C
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8458", \
  TAG+="uaccess"

LABEL="celestron_end"
