#
# 70-opticstar-cameras.rules -- Udev rules for Opticstar cameras
#
# Copyright 2016,2019 James Fidell (james@openastroproject.org)
#
# License:
#
# This file is part of the Open Astro Project.
#
# The Open Astro Project is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The Open Astro Project is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with the Open Astro Project.  If not, see
# <http://www.gnu.org/licenses/>.
#

ACTION!="add", GOTO="opticstar_end"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", GOTO="opticstar_test"
SUBSYSTEM!="usb_device", GOTO="opticstar_end"

LABEL="opticstar_test"

# PX-125C
ATTRS{idVendor}=="0547", ATTRS{idProduct}=="b122", TAG+="uaccess"
ATTRS{idVendor}=="0547", ATTRS{idProduct}=="b123", TAG+="uaccess"

# PX-125M
ATTRS{idVendor}=="0547", ATTRS{idProduct}=="b124", TAG+="uaccess"

LABEL="opticstar_end"
