#
# 70-starlight-xpress.rules -- Udev rules for Starlight Express devices
#
# Copyright 2013,2014,2015,2016,2019 James Fidell (james@openastroproject.org)
#
# License:
#
# This file is part of the Open Astro Project.
#
# The Open Astro Project is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The Open Astro Project is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with the Open Astro Project.  If not, see
# <http://www.gnu.org/licenses/>.
#

SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0100", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0105", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0107", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0109", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0119", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0126", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0128", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0135", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0136", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0305", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0307", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0308", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0319", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0325", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0326", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0507", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0517", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1278", ATTRS{idProduct}=="0920", TAG+="uaccess"
