#
# 70-tis-cameras-euvc.rules -- Udev rules for true UVC TIS cameras
#
# Copyright 2013,2014,2019 James Fidell (james@openastroproject.org)
#
# License:
#
# This file is part of the Open Astro Project.
#
# The Open Astro Project is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The Open Astro Project is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with the Open Astro Project.  If not, see
# <http://www.gnu.org/licenses/>.
#

ACTION!="add", GOTO="tis_euvc_end"
ACTION=="add", ATTR{idVendor}=="199e", RUN+="/bin/sh -c 'test -f /sys/module/usbcore/parameters/usbfs_memory_mb && test `cat /sys/module/usbcore/parameters/usbfs_memory_mb` -lt 200 && echo 200 >/sys/module/usbcore/parameters/usbfs_memory_mb'"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", GOTO="tis_euvc_test"
SUBSYSTEM!="usb_device", GOTO="tis_euvc_end"

LABEL="tis_euvc_test"

# These don't need a driver, but need the USB interface to be readable
# and writeable by a user because we're going to use our own driver

# ???
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8201", \
  TAG+="uaccess"

# DFK 22
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8202", \
  TAG+="uaccess"

# DFK 61
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8203", \
  TAG+="uaccess"

# DFK 41
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8204", \
  TAG+="uaccess"

# DFx 51
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8205", \
  TAG+="uaccess"

# DFx 41
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8206", \
  TAG+="uaccess"

# DFK 72
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8207", \
  TAG+="uaccess"

# DFK 42
ATTRS{idVendor}=="199e", \
ATTRS{idProduct}=="8208", \
  TAG+="uaccess"

LABEL="tis_euvc_end"
